<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Kane Small">

		<title>Film Search</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

		<!-- Custom styles for this template -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	</head>

	<body id="film_backdrop">
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/">Film Search</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/trends">Trends</a>
						</li>
						<!-- <li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li> -->
					</ul>

					<form class="my-2 my-lg-0 col-lg-4">
						<input class="form-control typeahead" type="text" placeholder="Search...">
					</form>
				</div>
			</div>
		</nav>
		
		<div id="outer-container">

		  <!-- Page Content -->
		  <div class="container">

			<h1 class="my-4" id="film_title"><p id="film_tagline"></p></h1>

			<div class="row">

				<div class="col-md-4">
					<img class="img-fluid" id="film_poster" src="" alt="" height="800px" width="400px">
				</div>

				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6">
							<div id="user_rating_container">
								<h4>User Rating</h4>
							</div>
						</div>
						<div class="col-md-6">
							<div id="predicted_rating_container">
								<h4>Predicted Rating</h4>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<h4 class="my-4">Overview</h4>
							<p id="film_overview"></p>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<h4 class="my-4">Genres</h4>
							<ul id="film_genres"></ul>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-3">
							<h4 class="my-4">Release Date</h4>
							<p><span id="film_release_date"></span></p>
						</div>
						<div class="col-md-3">
							<h4 class="my-4">Runtime</h4>
							<p><span id="film_runtime"></span></p>
						</div>
						<div class="col-md-3">
							<h4 class="my-4">Budget</h4>
							<p><span id="film_budget"></span></p>
						</div>
						<div class="col-md-3">
							<h4 class="my-4">Revenue</h4>
							<p><span id="film_revenue"></span></p>
						</div>
					</div>
				</div>

			</div>
			<!-- /.row -->
			
			<div class="row">
				<div class="col-md-12">
					<h4 id="film_actors_heading" class="my-4">Actors</h4>
					<ul id="film_actors"></ul>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h3 id="film_trailer_heading" class="my-3">Trailer</h3>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe id="film_trailer" class="embed-responsive-item" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		  </div>
		  <!-- /.container -->
		</div>

		<!-- Footer -->
		<footer class="footer bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; Kane Small 2018</p>
			</div>
		</footer>

		<!--   Core JS Files   -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

		<!--   Moment JS Files   -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>

		<!--   Currency JS Files   -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/currency.min.js') }}"></script>

		<!--   Progressbar JS Files   -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/progressbar.js') }}"></script>

		<!--   Typeahead JS Files   -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>

		<!--   Custom JS Files   -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
	</body>

</html>
